<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
		<meta >
		<meta http-equiv="Content-Type"  content="text/html; charset=UTF-8"/>
		<title>TodoMVC</title>
		<link rel="stylesheet" href="css/base.css">


	</head>
	<body ng-app="todo">
    <section id="todoapp" ng-controller="TodoCtrl">
        <header id="header">
            <h1>Buzz TV</h1>
            <form action="#" id="todo-form" ng-submit="addTodo()">
              <input type="text" id="new-todo"
              placeholder="{{placeholder}}"
              autofocus autocomplete="off" ng-model="newtodo">

            </form>
        </header>
        <section id="main">
        <input type="checkbox" id="toogle" ng-model="allchecked" ng-click="checkAllTodo(allchecked)">
            <ul id="todo-list">
                <li ng-repeat="todo in todos | filter:statusFilter | orderBy:'completed'" ng-class="{completed : todo.completed, editing: todo.editing}" ng-dblclick="todo.editing = true">
                    <div class="view">
                        <input type="checkbox" class="toogle" ng-model="todo.completed">
                        <label>{{todo.name}}</label>
                        <button class="destroy" ng-click="removeTodo($index)"></button>
                    </div>
                    <form action="#">
                        <input class="edit" ng-model="todo.name" ng-blur="editTodo(todo)">
                    </form>
                </li>
            </ul>
        </section>
        <footer id="footer">
            <span id="todo-count">il reste <strong>{{remaining}}</strong> Taches à completer</span>
            <ul id="filters">
                <li><a href="#/" ng-class="{selected: location.path() == '/'}">Toutes</a></li>
                <li><a href="#/active" ng-class="{selected: location.path() == '/active'}">A faire</a></li>
                <li><a href="#/done" ng-class="{selected: location.path() == '/done'}">Faites</a></li>
            </ul>
        </footer>
    </section>




	<script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
	</body>
</html>
